body {
  text-transform: lowercase;
}

.spectrumHeader {
  transition: background-color 2s ease;
}


/*------------ nav bar---------*/

.navy-bar {
  background-color: #fbfbfb;
/*  position: fixed;*/
  width: 100%;
  height: 10%;
  font-family: 'Montserrat', sans-serif;
}

.brand {
  font-weight: 900;
  font-size: 1.5em;
}

.navy-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  height: 70px;
  line-height: 87px;
}

.navy-bar li {
  display: inline-block;
  letter-spacing: 3px;
}

.navy-bar a {
  line-height: 100%;
  padding: 3px 12px;
  color: #999;
  padding: 3px 12px;
  text-decoration: none;
  color: #4A4949;
}

.navy-bar .current a {
  /*background: #999;*/
  color: #fff;
  border-radius: 5px;
}


.navy-bar a:link {
  text-decoration: none;
  color: #515254;
}

.navy-bar a:hover {
  color: #76c5cc;
  border-bottom: 5px solid black;
}

.navy-bar a {
  width: 50px;
  text-align: center;
}

/*--------- banner ----------*/
.banner {
  height: 85vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.banner h1 {
  font-family: 'Montserrat', serif;
  font-size: 8em;
  color: white;
  padding-top: 10%;
  letter-spacing: 1px;
}

.banner p {
  font-family: 'Lato', sans-serif;
  padding: 60px;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
}

.tagline {
  /*padding-top: 5%;*/
}
.banner-content {
  text-align: justify;
}


.gif-row {
  padding-top: 5%;
}



.blog-down {
  top: 190px;
}



/*about*/

.contained-section {
  padding: 4% 10%;
  height: 100vh;
  /*background-color: #afdbd4;*/
  /*background: #779f79;*/
  background-image: url("images/bkgnd_code_small.png");
  background-size: 15%;
  background-color: #f2f2f2;
  display: table-cell;
  vertical-align: middle;
}

.section-content {
  letter-spacing: 1px;
}

.section-content h1 {
  font-size: 1.7em;
  font-family: 'Montserrat', serif;
  text-align: center;
  padding-bottom: 5%;
}

.underline {
  border-bottom: 5px solid #76c5cc;
}

.section-content h3, .contact-head {
  font-size: 2.3em;
  padding-bottom: 3%;
  /*padding-top: 3%;*/
  font-family: 'Lato', sans-serif;
}

.positioned-text p {
  font-size: 1.2em;
  padding-bottom: 3%;
  font-family: 'Lato', serif;
}

.about-section {
  border: 1px solid #515254;
  background: white;
  padding: 5% 20%;
}

.about-section .positioned-text {
  padding-left: 50px;
}

.profile-pic {
  /*padding-top: 3%;*/
  text-align: center;
}

.profile-pic img {
  width: 350px;
}

.banner-down {
  bottom: 10px;
  position: absolute;
  color: #515254;

}

.about-projects-down {
  text-align: center;
  bottom: -170px;
}

/*projects*/
.positioned-text img {
  border: 1px solid grey;
}

.projects-section {
  padding: 3% 10%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  /*background: #afdbd4;*/
/*  background-image: url("images/bkgnd_code_large.png");
  background-size: 14%;*/
  text-align: justify;
}

.projects-blog-arrow {
  text-align: center;
}

.projects-down {
  color: #515254;
  bottom: 60px;
  /*position: absolute;*/
}


/*contact*/
.social-media-section {
  margin-top: 4%;
}

.contact-section {
  padding: 1% 10%;
  height: 20vh;
/*  background-image: url("images/bkgnd_mail_small.png");
  background-size: 10%;
*/  background-color: #76c5cc;
  color: #515254;
}


.contact-underline {
  border-bottom: 5px solid white;
  font-size: 1em;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-section .contact-head {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}


.fa-circle {
  color: #efefef;
}

.contact-section .fa-stack-1x {
  color: #515254;
}

.fa:hover {
  /*background: white;*/
  color: #76c5cc;
  text-decoration: none;
}

.section-content a:link {
  color: #76c5cc;
}

.positioned-text a:hover {
  color: #76c5cc;
  /*border-bottom: 5px solid black;*/
  text-decoration: none;
}




/*button*/
.btn-cont .btn {
  position: relative;
  vertical-align: top;
  width: 10%;
  height: 50px;
  padding: 0;
  margin: 3px 25px;
  font-size: 1.125em;
  font-family: 'Lato', sans-serif;
  color: #515254;
  text-align: center;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
  line-height: 50px;
  letter-spacing: 2px;
}

.btn-cont .btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-cont .btn:hover {
  background: #ededed;
  color: #76c5cc;
}

/*footer*/

.footer {
  bottom:0;
  left:0;
  position:fixed;
    width: 100%;
    height: 1.25em;
    overflow:hidden;
    margin:0 auto;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  height: 4.5em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right: 190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width: 900px;
  float: left;
  /*text-align: center;*/
}
.footer p {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 100;
  margin-top: 70px;
  /*margin-left: 40px;*/
  color:white;
}



/*responsiveness*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .navy-bar {
    font-size: 2em;
  }
  .banner {
    height: 75%;
  }

  .banner p {
    font-size: 2.5em;
  }

  i.fa-angle-down {
    display: none;
  }

  .btn-cont .btn {
    font-size: 2.5em;
    width: 25%;
    margin-bottom: 5%;
  }

  .about-section {
    height: 50%;
  }

  .positioned-text img {
    margin-top: 8%;
    width: 100%;
  }

  .contact-section {
    height: 40%;
  }

  .contact-section .contact-head {
    font-size: 2em;
  }

  .icons .fa-stack {
    font-size: 40px;
  }

  .col-sm-5 {
    width: 46.666667% !important;
  }

  .section-content h1 {
    font-size: 3.7em;
  }

  .about-section {
    height: 55%;
  }

  .contained-section {
    height: 60%;
  }

  .contained-section h3 {
    font-size: 3em;
  }
  .contained-section p {
    font-size: 2.5em;
  }


}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
  .icons .fa-stack {
    font-size: 40px;
  }

  .col-sm-5 {
    width: 45.666667% !important;
  }

  .projects-section {
    padding: 0% 2%;
  }
}


@media screen and (min-width: 300px) and (max-width: 600px) {

  .navy-bar {
    height: 200px;
  }
  .banner {
    height: 500px;
  }
  .banner h1{
    font-size: 2.5em;
  }

  #classy-button, #playful-button {
    width: 94px;
    height: 50px;
  }

  .profile-pic img {
    width: 150px;
  }

  .positioned-text img {
    width: 300px;
  }

  .positioned-text p {
    font-size: 85%;
  }

  .contact-section h1, h3 {
    font-size: 85%;
  }

  .contact-section {
    height: 120px;
  }
}